%script{:src => "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"}

.row{'ng-app' => true}
  .col-md-5{'ng-controller' => 'NameCtrl'}
    %h1 Example 4
    %small
    Initializing the model using an Angular controller, defined with a global function.

    %br
    %br
    %br

    %label First Name:
    = text_field_tag :first_name, nil, 'ng-model' => 'firstName'

    %label Last Name
    = text_field_tag :last_name, nil, 'ng-model' => 'lastName'

    %h1 Hello {{firstName}} {{lastName}}!

    %br
    %br


  .col-md-7{:style => 'padding-top:60px'}
    = image_tag 'example4.png', :class => 'img-responsive'

:javascript
  function NameCtrl($scope){
    $scope.firstName = 'John';
    $scope.lastName = 'Smith';
  }
